/* 🔹 Google Fonts (Always on top) */
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cookie&family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Corinthia:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Engagement&family=Instrument+Serif:ital@0;1&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellefair&family=Cookie&family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

/* 🔹 Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔹 Reset & Base Styles */
body {
  margin: 0;
  padding: 0;
  background-color:#fff
}

/* 🔹 Root container */
#root {
  width: 100%;
  min-height: 100vh;
}

/* 🔹 Optional: Smooth font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-pagination-bullet {
  @apply bg-white/40 w-2.5 h-2.5 transition-all duration-300;
}

/* Active dot (pill style) */
.swiper-pagination-bullet-active {
  @apply bg-brand-btn w-6 rounded-full;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: rgba(255,255,255,0.5);
  width: 10px;
  height: 10px;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #E3E2DF;
  width: 12px;
  height: 12px;
}

.swiper-pagination {
  bottom: 20px !important;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}